/*! ========== Landing ========= */
.App:has(.backImg) {
  gap: 0;
}
.App:has(.backImg) footer {
  margin-top: 100px;
}
.about .backImg {
  position: absolute;
  width: 100%;
  height: 700px;
  z-index: -1;
}
.App.ltr .about .backImg {
  padding-top: 663px;
}
.about .backImg img:first-child {
  opacity: 0.3;
  width: 50%;
  position: relative;
  left: 0;
  height: 835px;
}
.App.ltr .about .backImg img:first-child {
  position: absolute;
}
.App.ltr .about .backImg img:first-child  {
  right: 0;
  left: unset;
  top: 0;
}
.about .backImg img:nth-child(2) {
  margin: -435px 0 -895px;
  opacity: 0.5;
}
.about .backImg img:nth-child(3) {
  margin: -435px 0 -895px;
}
.about .backImg img:nth-child(4) {
  z-index: 4;
  margin-bottom: -920px;
  position: relative;
}
.about .backImg img:last-child {
  height: 1633px;
  width: 100%;
}
.about .top {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 136px 0;
}
.App.ltr .about .top {
  align-items: flex-start;
}
.about .top .head {
  background: #d3d1ca82;
  width: 55%;
  height: 78px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 65px;
  border: 2px solid #868582;
}
.about .top .head span {
  font-size: 30px;
  margin-top: -39px;
  color: #323232;
  font-weight: 700;
  position: relative;
  right: -82px;
}
.App.ltr .about .top .head span {
  left: -93px;
  right: unset;
}
.about .top .head h1 {
  font-size: 103px;
  margin-top: -69px;
  transition: 0.3s;
  transform: translateX(10px);
}
.about .top .head h1:hover {
  color: var(--main-color);
}
.App.rtl .about .top .head h1 {
  margin-top: -77px;
  transform: translateX(10px);
}
.about .top .title {
  font-size: 30px;
  color: var(--title-color);
  font-weight: 700;
  text-align: center;
  width: 43%;
  line-height: 1.5;
  padding: 22px 30px;
  margin: 60px 120px 50px;
}
.App.rtl .about .top .title {
  width: 36%;
  line-height: 1.7;
}
.about .top .dataImg {
  width: 85%;
  margin: 0 auto;
  border-radius: 15px;
}

/*! =========== ISO =========== */

.about .iso.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.App.ltr .about .iso.container {
align-items: flex-start;
}
.iso .topTitle {
  font-size: 38px;
  font-weight: 700;
  color: #252525;
  background: white;
  padding: 0 75px;
  border-radius: 52px;
  border: 2px solid #7d7d7d;
  transition: 0.3s;
  width: fit-content;
  margin: 0 auto 61px;
}
.iso .sideTitle {
  font-size: 40px;
  color: var(--hover-color);
  background: #efefefc2;
  font-weight: 700;
  padding: 0px 17px;
  border-radius: 23px;
  margin-bottom: 29px;
  margin-left: 20px;
  transition: 0.3s;
  width: fit-content;
}
.iso .topTitle:hover {
  color: var(--hover-color);
  background: transparent;
  padding: 0 35px;
}
.iso .holder {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(366px, 1fr));
  gap: 16px;
}
.iso .holder img {
  width: 100%;
}
.iso .lastiso {
  width: 78%;
  align-self: center;
  margin-top: 40px;
}


@media(max-width:1200px) {
  .about .top .title {
    margin: 60px 39px 50px;
    width: 60% !important;
  }
  .App.ltr .about .top .title {
    width: 64% !important;
  }
  .iso .holder {
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  }
}
@media(max-width:992px) {
  .about .top {
    padding: 136px 0 70px;
  }
  .about .top .dataImg {
    width: 94%;
  }
  .App.rtl .about .top .title {
    width: 78% !important;
    line-height: 1.7;
    margin: 60px 3px 50px;
  }
  .App.ltr .about .top .title {
    width: 78% !important;
    margin: 32px 3px 42px;
}
  .about .backImg img:first-child {
    width: 69%;
    left: -5%;
    height: 657px;
  }
  .App.ltr .about .top .head {
    margin-left: 10px;
  }

  .iso .lastiso {
    width: 100%;
  }
  .about .backImg img {
    width: 100%;
  }
}
@media(max-width:786px) {
  .about .top .head {
    width: 94%;
  }
  .about .top .title {
    font-size: 27px !important;
    line-height: 1.7 !important;
    margin: 39px 3px 14px !important;
  }
  .App.ltr .about .top .title,
  .App.rtl .about .top .title {
    width: 100% !important;
    padding: 0 14px;
  }
  .App.ltr .about .top .title {
    font-size: 22px !important;
  }
  .iso .topTitle {
    padding: 0 20px;
    border-radius: 15px;
    font-size: 30px;
  }
  .iso .sideTitle {
    font-size: 21px;
  }
  .App.ltr .iso .sideTitle {
    margin-left: 0;
  }
  .App.ltr .about .top .head h1 {
    font-size: 95px;
    margin-top: -60px;
  }
}