/*! ========== Contact ========== */

.contactUs {
  margin-bottom: 55px;
}
::placeholder {
  text-transform: capitalize;
}
.contactUs > h1 {
  text-align: center;
  color: #0f4702;
  max-width: 18%;
  line-height: 1.3;
  font-size: 31px;
  margin: 20px auto -8px;
}
.contactUs .mapHolder {
  width: 100%;
  height: 440px;
  padding: 0;
  margin: 33px 0;
  border-radius: 8px;
  overflow: hidden;
}
.contactUs form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
} 
.App.rtl .contactUs form {
  align-items: flex-end;
}
.contactUs form h3 {
  font-size: 30px;
  width: 100%;
  text-align: center;
}
.contactUs form .hold {
  display: flex;
  direction: rtl;
  width: 100%;
  margin-bottom: 12px;
}
.contactUs form label {
  color: var(--title-color);
  font-weight: 700;
  font-size: 20px;
  text-transform: capitalize;
}
.contactUs form .hold:nth-child(2) label,
.contactUs form .hold:nth-child(3) label {
  width: 80px;
}
.contactUs form .hold:nth-child(4) label,
.contactUs form .hold:nth-child(5) label {
  width: 180px;
}
.contactUs form .inputHolder {
  width: 100%;
}
.contactUs form .inputHolder input {
  border: 2px solid;
  padding: 14px;
  font-size: 15px;
  width: 100%;
  border-radius: 10px;
}
.App.ltr .contactUs form .hold {
  direction: ltr;
}
.App.ltr .contactUs form .hold label {
  width: 87px;
}
.contactUs form .inputHolder span {
  font-weight: 700;
  margin: 0 10px 0;
  text-transform: capitalize;
}
.contactUs form .hold.textarea {
  flex-direction: column;
  align-items: center;
}
.contactUs form .hold.textarea textarea {
  width: 100%;
  font-family: 'Cairo';
  padding: 15px;
  font-size: 15px;
  border: 2px solid;
  border-radius: 5px;
}
.contactUs form .hold.textarea label {
  margin: 1px 0 10px;
  font-size: 24px;
}
.contactUs form button {
  background: #2e353e;
  color: #abaeb1;
  font-size: 24px;
  font-family: 'Cairo';
  font-weight: 800;
  width: 100%;
  padding: 26px 0 28px;
  transition: 0.3s;
  color: #abaeb1;
}
.contactUs form button:hover {
  background: var(--hover-color);
  color: #5c4e17;
}

/*! ============= Blogs =========== */

.blogs {
  margin-bottom: -100px;
  position: relative;
  background: var(--section-color);
}
.blogs .backImg {
  background-image: url(/src/img/BLOG\ BG.png);
  z-index: 1;
  position: relative;
  width: 100%;
  height: 325px;
  background-position: bottom;
}
.blogs .zigzag {
  top: -51px;
  height: 112%;
  z-index: 0;
}
.blogs .container {
  background: white;
  padding: 52px 59px;
  border-radius: 50px 50px 0 0;
  width: 70%;
  z-index: 2;
  position: relative;
  margin-top: -85px;
}
.blogs .container .holder {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(315px, 1fr));
  gap: 158px;
  row-gap: 50px;
}
.blogs .container .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.blogs .container .card .image {
  width: 100%;
  height: 341px;
  overflow: hidden;
  border-radius: 50px 50px 0 0;
}
.blogs .container .card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: 0.3s;
}
.blogs .container .card h3 {
  font-size: 29px;
  transition: 0.3s;
}
.blogs .container .card p {
  text-align: center;
  width: 79%;
  color: black;
  font-size: 19px;
  line-height: 1.7;
  transition: 0.3s;
}
.blogs .container .card:hover img {
  scale: 1.2;
}
.blogs .container .card:hover h3 {
  font-size: 32px;
}
.blogs .container .card:hover p {
  font-weight: 700;
}

/*! ============= SingleBlog =========== */


.blogSingle .container {
  margin-top: 50px;
}
.blogSingle .container .card {
  margin-bottom: 100px;
}
.blogSingle .container .card h3 {
  color: var(--hover-color);
  font-size: 40px;
}
.blogSingle .container .card p {
  font-size: 22px;
}
.blogSingle .container .card .image {
  height: 650px;
}




@media(max-width:1600px) {
  .blogs .container .holder  {
    gap: 60px;
  }
}
@media(max-width:1400px) {
  .blogs .container .card .image {
    height: 270px;
  }
  .project-page .managmementhold .sideTitle {
    width: 31%;
  }
}
@media(max-width:1200px) {
  .blogs .container .holder {
    grid-template-columns: repeat(auto-fill, minmax(296px, 1fr));
    gap: 35px;
  }
  .project-page .swiper .swiper-slide {
    height: 895px;
  }
  .project-page .managmementhold .sideTitle {
    width: 37%;
  }
}
@media(max-width:992px) {
  .contactUs > h1 {
    max-width: unset;
  }
  .blogs .container {
    width: 90%;
  }
  .blogs .container .holder {
    gap: 45px;
  }
  .blogSingle .container .card .image {
    height: 387px;
  }
  .project-page h1 {
    margin: 28px 0 53px;
  }
  .project-page .swiper .swiper-slide {
    height: 735px;
  }
  .project-page .managmementhold .sideTitle {
    width: 43%;
  }
}
@media(max-width:786px) {
  .contactUs {
    width: 100%;
  }
  .contactUs .mapHolder {
    height: 280px;
  }
  .blogSingle .container {
    width: 100%;
  }
  .blogSingle .container {
    padding: 45px 20px;
  }
  .blogSingle .container .card .image {
    height: 227px;
  }
  .project-page {
    width: 100%;
  }
  .project-page h1 {
    margin: 25px 0 35px;
    padding: 0 0;
    font-size: 29px;
  }
  .project-page .swiper {
    max-width: 100%;
  }
  .project-page .swiper .swiper-slide {
    height: 477px;
  }
  .project-page .swiper {
    margin-bottom: 20px;
  }

  .project-page .managmementhold .sideTitle {
    width: 86%;
  }
  .project-page:has(.managmementhold) h1:not(.managtitle) {
    max-width: 100%;
  }
}