
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}
body {
  overflow-x: hidden;
  font-family: 'Cairo', sans-serif;
  background-color: var(--body-color) !important;
}  
:root {
  --body-color:   #ffffff;
  --main-color:   #4a5869;
  --main-color2:   #ae9f62;
  --hover-color:   #d1ae20;
  --title-color:   #454545;
  --second-title-color:#454545;
  --paragraph-color : #858585;
  --section-color:#efefef;
  --section-color2:#ffffff;
  --border-color: #c3c3c3;
  --red-color: #ce3636;
}
.App {
  display: flex;
  gap: 10px;
  color: white;
  flex-direction: column;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 5rem;
}

/* Mozilla browsers (Firefox) */
::-moz-scrollbar {
  width: 10px;
  height: 8px;
}
::-moz-scrollbar-track {
  background: transparent;
}
::-moz-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 5rem;
}

/* Microsoft browsers (Edge, IE) */
::-ms-scrollbar {
  width: 10px;
  height: 8px;
}
::-ms-scrollbar-track {
  background: transparent;
}
::-ms-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 5rem;
}

html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}                                                                   
h1,h2,h3,h4,h5,h6,li,svg,a {
  margin: 0;
  padding: 0;
  color: var(--title-color);
}
svg{
  transition: 0.3s;
  cursor: pointer;
}
p {
  margin: 0;
  padding: 0;
  color: var(--paragraph-color);
}
ul {
    list-style: none;
    margin: 0;
    padding:0;
}
hr {
  background: var(--border-color);
  height: 2px;
  border: none;
}
input {
  outline: none;
  border: none;
  border-radius: 6px;
  color: var(--title-color);
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  transform: translateY(-20px);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 800px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
/* Large */
}
@media (min-width: 1600px) {
  .container {
    width: 1470px;
  }
}

.scrollBtn {
  background: var(--hover-color);
  border-radius: 4px;
  cursor: pointer !important;
  font-size: 23px;
  position: fixed;
  right: -100px;
  bottom: 5%;
  transition: 0.6s;
  z-index: 195;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.scrollBtn.show {
  right: 2%;
}
.scrollBtn svg {
  color: white;
}

.main-button {
  text-align: center;
  background: var(--section-color);
  color: var(--title-color);
  height: 45px;
  font-size: 15px;
  padding: 0 12px;
  font-weight: 500;
  border-radius: 4px;
  transition: .3s;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.main-button:hover {
  background: var(--border-color);
}
.main-title {
  font-size: 37px;
  line-height: 1.5;
  max-width: 50%;
  height: fit-content;
  text-align: center;
}
.zigzag {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  object-fit: cover;
  opacity: 0.3;
}

.social {
  display: flex;
  gap: 2px;
}
.social a {
  display: flex;

}
.social a img {
  width: 35px;
}

.links {
  display: flex;
  gap: 5px;
  align-items: center;
}
.links a {
  color: #d0d0d0;
  padding: 10px 5px;
  text-transform: capitalize;
  transition: 0.3s;
}
.links a:hover,
.links a.active {
  color: var(--hover-color);
}
.links hr {
  width: 14px;
  transform: translateY(2px);
}

.phones {
  display: flex;
  gap: 11px;
  text-align: right;
  flex-direction: row-reverse;
  margin-bottom: 5px;
  margin-top: -18px;
}
.phones svg {
  color: white;
  margin-right: -2px;
  transform: translateY(4px);
}
.title {
  position: relative;
}
.title::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 95%;
  height: 0;
  background: #efefef9e;

  transition: 0.3s;
  z-index: -1;
  transform: translate(-50%, -50%);
  border-radius: 30px;
}
.title:hover::before {
  height: 85%;
  border: 1px solid var(--paragraph-color);
}

.error {
  color: red;
}


.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
  margin-top: 38px;
  margin-bottom: 25px;
}

.pagination li {
  margin: 0 5px;
}

.pagination li a {
  padding: 4px 15px;
  border: 1px solid #ddd;
  color: var(--title-color);
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  height: 39px;
}
.pagination li a svg {
  font-size: 22px;
}
.pagination li.active a {
  background-color: var(--main-color);
  color: white;
}

.pagination li a:hover {
  background-color: var(--main-color);
  color: white;
}
.pagination li a:hover svg {
  color: white;
}

.navigationss {
  display: flex;
  justify-content: space-between;
  top: 50%;
  position: absolute;
  z-index: 100;
  width: 100%;
  transform: translateY(-50%);
  padding: 0 6px;
}

/*! =========== HEADER =========== */

header {
  background: #22292f;
}
header.fixedHed {
  margin-top: 105px;
}
header.fixedHed .nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 5px 0;
}
header .container {
  position: relative;
}
header .headerImg {
  width: 130px;
  position: absolute;
  opacity: 0;
  transition: 0.3s;
  height: fit-content;
  visibility: hidden;
}
header.fixedHed .headerImg {
  opacity: 1;
  right: 230px;
  height: fit-content;
  filter: drop-shadow(0 0 28px black);
  visibility: visible;
}
header.fixedHed .bar {
  margin-top: -45px;
}
header .bar {
  height: 27px;
  background: var(--main-color);
  margin-bottom: 12px;
}
header .nav {
  position: relative;
  z-index: 100;
  background: var(--main-color);
  box-shadow: 0 19px 44px -4px #00000082;
}
header .nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .nav .changeLang {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 7px;
}
header .nav .changeLang img {
  width: 30px;
}
header .nav .changeLang h4 {
  color: #c8c9ca;
  font-weight: 400;
  display: none;
}
header .contnet {
  position: relative;
  background-size: cover;
  background-image: url(/src/img/headerback1.jpg);
  display: flex;
  flex-direction: column;
  padding-bottom: 17px;
}
header .contnet > * {
  z-index: 2;
  position: relative;
}
header .contnet::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #4a5869cc;
  z-index: 1;
}
header .contnet .main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}
header .contnet .main img:first-child {
  width: 165px;
}
header .contnet .main img:last-child {
  width: 700px;
}
header .contnet .adds {
  display: flex;
  background: var(--main-color2);
  gap: 25px;
  padding: 0 30px;
  overflow: hidden;
}
header .contnet .adds li {
  color: white;
  min-width: 140px;
}
.App.rtl header .contnet .adds li {
  min-width: 82px;
}

/*! ============= FOOTER ============ */

footer {
  background: #3f4956;
  margin-top: 28px;
  padding: 10px 0;
  position: relative;
  z-index: 5;
}

footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 33px 0;
}
footer h4,
footer a {
  color: white;
}
footer .info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .phones {
  margin: 0;
  flex-direction: row;
}
footer .middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: -80px;
  transform: translateX(28px);
}
footer .middle > img {
  width: 150px;
}
footer .middle .social img {
  width: 44px;
}
footer .links a {
  font-size: 18px;
}



/*! ========== project ========== */ 

.project-page .managmementhold{
  height: fit-content;
  border-bottom: 40px solid var(--main-color);
  margin-bottom: 42px;
}
.project-page .managmementhold img {
  width: 100%;
  height: 85vh;
  position: absolute;
  opacity: 0.4;
  z-index: -1;
  object-fit: cover;
}

.project-page h1 {
  width: 100%;
  text-align: center;
  font-size: 40px;
  background: var(--main-color);
  color: white;
  border-radius: 5px 5px 0 0;
  padding: 12px 0;
  border-bottom: 3px solid var(--hover-color);
  margin: 28px 0 75px;
}

.project-page .swiper {
  max-width: 72%;
  height: fit-content;
  margin-bottom: 55px;
}
.project-page .swiper .swiper-wrapper {
  align-items: center;
}
.project-page .swiper .swiper-slide {
  display: flex;
  height: fit-content;
  align-items: center;
  height: 1100px;
}
.project-page .swiper .swiper-slide img {
  width: 100%;
  height: 100%;
  border: 5px solid var(--hover-color);
}
.project-page .swiper .custom-next {
  right: 15px;
}
.project-page .swiper .custom-next svg,
.project-page .swiper .custom-prev svg {
  width: 40px;
  height: 40px;
  padding: 2px;
  color: white;
  background: var(--title-color);
  border-radius: 50%;
}
.project-page .swiper .pag {
  color: var(--second-title-color);
  border: 2px solid;
  width: fit-content;
  margin: 0 auto;
  font-size: 15px;
  font-weight: bold;
  border-radius: 4px;
  padding: 0 13px;
  margin-top: 10px;
}

.project-page .managmementhold .sideTitle {
  background: #d3d3d38f;
  width: 24%;
  text-align: right;
  padding: 0 43px;
  height: 70px;
  font-size: 27px;
  position: absolute;
  left: 0;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.project-page .managmementhold .sideTitle:hover {
  font-size: 29px;
  border-radius: 52px 0 0 50px;
  background: #a2a2a2;
  color: white;
}
.App.ltr .project-page .managmementhold .sideTitle:hover {
  border-radius: 0 52px 52px 0;
}
.project-page .managmementhold ul {
  flex-direction: column;
  gap: 2px;
  font-size: 18px;
  font-weight: 600;
  height: 65vh;
  display: flex;
  justify-content: center;
}
.project-page .managmementhold ul li {
  list-style: disc;
}

.App.rtl .project-page .managmementhold ul {
  align-items: flex-end;
}
.App.rtl .project-page .managmementhold ul li {
  direction: rtl;
  text-align: right;
}
.App.rtl .project-page .managmementhold .sideTitle {
  right: 0;
  left: unset;
  text-align: left;
}

.project-page:has(.managmementhold) h1:not(.managtitle){
  max-width: 72%;
  margin: 12px auto !important;
  font-size: 34px;
}

@media(min-width:1600px) {
  header .nav .changeLang h4 {
    display: flex;
  }
}

@media(max-width:1600px) {
  header.fixedHed .headerImg {
    right: 114px;
  }
}

@media(max-width:1400px) {
  .project-page .managmementhold .sideTitle {
    width: 31%;
  }
}

@media(max-width:1200px) {
  header .headerImg {
    position: unset;
  }
  .project-page .swiper .swiper-slide {
    height: 895px;
  }
  .project-page .managmementhold .sideTitle {
    width: 37%;
  }
  .project-page .managmementhold ul {
    padding: 0 50px;
  }
}
@media(max-width:992px) {
  header .contnet .adds li:first-child,
  header .contnet .adds li:last-child {
    display: none;
  }
  header .contnet .main img:last-child {
    width: 571px;
  }
  header .contnet .main img:first-child {
    width: 147px;
  }
  .build h1 {
    font-size: 37px;
    bottom: 9%;
    right: -2%;
  }
  footer .container {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  footer .middle {
    transform: translateX(0px);
  }
  .project-page h1 {
    margin: 28px 0 53px;
  }
  .project-page .swiper .swiper-slide {
    height: 735px;
  }
  .project-page .managmementhold .sideTitle {
    width: 43%;
  }
  header.fixedHed .headerImg {
    right: 58px;
  }
  header .headerImg {
    display: none;
  }
  header.fixedHed .headerImg {
    display: flex;
  }
  .project-page .managmementhold ul {
    height: 56vh;
  }
  .project-page .managmementhold img {
    height: 72vh;
  }
}


@media(max-width:786px) {
  header .bar {
    height: 42px;
    margin-bottom: 8px;
  }
  header .links {
    transform: translateX(0px);
  } 
  header .contnet {
    padding-bottom: 2px;
  }
  header .contnet .adds {
    display: none;
  }
  header .social,
  header .nav .changeLang {
    position: absolute;
    top: -45px;
  }
  header .nav .changeLang  {
    right: 12px;
    top: -44px;
  }
  header.fixedHed .headerImg {
    display: none;
  }
  header.fixedHed .nav .changeLang {
    top: 50%;
    transform: translateY(-50%);
    padding-right: 1%;
  }
  header .contnet .main img:last-child {
    width: 100%;
  }
  header .contnet .main img:first-child {
    display: none;
  }
  .phones {
    margin-top: 3px;
  }
  .App.rtl header .contnet .adds li:nth-child(2) {
    display: block;
  }
  header .contnet .adds li:nth-child(2),
  header .contnet .adds li:nth-child(3),
  header .contnet .adds li:nth-child(4) {
    display: none;
  }

  .custom-prev img,
  .custom-next img {
    width: 25px !important;
  }
  .swiper-pagination {
    bottom: -2px !important;
  }
  .custom-next {
    right: 5px;
  }

  .main-title {
    font-size: 25px;
  }

  .implement .top,
  .implement .bottom {
    width: 100%;
    padding: 0 12px;
  }
  .implement p.middle {
    max-width: 95%;
    padding: 0 8px;
  }

  .scrollBtn.show {
    right: 6%;
    bottom: 3%;
  }
  footer .middle {
    margin-top: 19px;
  }
  .project-page {
    width: 100%;
  }
  .project-page h1 {
    margin: 25px 0 35px;
    padding: 0 0;
    font-size: 29px;
    width: 90%;
    margin: 25px auto;
  }
  .project-page .swiper {
    max-width: 100%;
    margin-bottom: 20px;
  }
  .project-page .swiper .swiper-slide {
    height: 477px;
  }
  .project-page .managmementhold .sideTitle {
    width: 86%;
  }
  .project-page:has(.managmementhold) h1:not(.managtitle) {
    max-width: 100%;
  }
  .project-page .swiper .custom-next svg, .project-page .swiper .custom-prev svg {
    width: 30px;
    height: 30px;
    padding: 5px;
  }
  .project-page .managmementhold ul {
    padding: 0 34px 0 15px;
    height: 103vh;
    margin-bottom: -49px;
  } 
  .project-page .managmementhold img {
    display: none;
  }
}
@media(max-width:400px) {

  .project-page .managmementhold .sideTitle {
    width: 89%;
  }
  .project-page h1 {
    font-size: 22px;
  }
  .project-page:has(.managmementhold) h1:not(.managtitle) {
    font-size: 25px;
    padding: 5px 12px;
  }
  .contactUs form .hold {
    gap: 6px;
    flex-direction: column;
  }
  .project-page .managmementhold ul {
    height: 130vh;
  }
}