
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}
body {
  overflow-x: hidden;
  font-family: 'Cairo', sans-serif;
  background-color: var(--body-color) !important;
}  
:root {
  --body-color:   #ffffff;
  --main-color:   #4a5869;
  --main-color2:   #ae9f62;
  --hover-color:   #d1ae20;
  --title-color:   #454545;
  --second-title-color:#454545;
  --paragraph-color : #858585;
  --section-color:#efefef;
  --section-color2:#ffffff;
  --border-color: #c3c3c3;
  --red-color: #ce3636;
}
.App {
  display: flex;
  gap: 10px;
  color: white;
  flex-direction: column;
}
::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 5rem;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}                                                                   
h1,h2,h3,h4,h5,h6,li,svg,a {
  margin: 0;
  padding: 0;
  color: var(--title-color);
}
svg{
  transition: 0.3s;
  cursor: pointer;
}
p {
  margin: 0;
  padding: 0;
  color: var(--paragraph-color);
}
ul {
    list-style: none;
    margin: 0;
    padding:0;
}
hr {
  background: var(--border-color);
  height: 2px;
  border: none;
}
input {
  outline: none;
  border: none;
  border-radius: 6px;
  color: var(--title-color);
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 800px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
/* Large */
}
@media (min-width: 1600px) {
  .container {
    width: 1470px;
  }
}

.scrollBtn {
  background: var(--hover-color);
  border-radius: 4px;
  cursor: pointer !important;
  font-size: 23px;
  position: fixed;
  right: -100px;
  bottom: 5%;
  transition: 0.6s;
  z-index: 195;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.scrollBtn.show {
  right: 2%;
}
.scrollBtn svg {
  color: white;
}

.main-button {
  text-align: center;
  background: var(--section-color);
  color: var(--title-color);
  height: 45px;
  font-size: 15px;
  padding: 0 12px;
  font-weight: 500;
  border-radius: 4px;
  transition: .3s;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.main-button:hover {
  background: var(--border-color);
}
.main-title {
  font-size: 37px;
  line-height: 1.5;
  max-width: 50%;
  height: fit-content;
  text-align: center;
}
.zigzag {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  object-fit: cover;
  opacity: 0.3;
}

.social {
  display: flex;
  gap: 2px;
}
.social a {
  display: flex;

}
.social a img {
  width: 35px;
}

.links {
  display: flex;
  gap: 5px;
  align-items: center;
}
.links a {
  color: #d0d0d0;
  padding: 10px 5px;
  text-transform: capitalize;
  transition: 0.3s;
}
.links a:hover,
.links a.active {
  color: var(--hover-color);
}
.links hr {
  width: 14px;
  transform: translateY(2px);
}

.phones {
  display: flex;
  gap: 11px;
  text-align: right;
  flex-direction: row-reverse;
  margin-bottom: 5px;
  margin-top: -18px;
}
.phones svg {
  color: white;
  margin-right: -2px;
  transform: translateY(4px);
}
.title {
  position: relative;
}
.title::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 95%;
  height: 0;
  background: #efefef9e;

  transition: 0.3s;
  z-index: -1;
  transform: translate(-50%, -50%);
  border-radius: 30px;
}
.title:hover::before {
  height: 85%;
  border: 1px solid var(--paragraph-color);
}

.error {
  color: red;
}

/*! =========== HEADER =========== */

header {
  background: #22292f;
}
header.fixedHed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
header.fixedHed .bar{
  display: none;
}
.App:has(header.fixedHed) {
  margin-top: 320px;
}
header .bar {
  height: 27px;
  background: var(--main-color);
  margin-bottom: 12px;
}
header .nav {
  background: var(--main-color);
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 19px 44px -4px #00000082;
}
header .nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .nav .changeLang {
  display: flex;
  cursor: pointer;
}
header .nav .changeLang img {
  width: 30px;
}
header .contnet {
  position: relative;
  background-size: cover;
  background-image: url(/src/img/headerback1.jpg);
  display: flex;
  flex-direction: column;
  padding-bottom: 17px;
}
header .contnet > * {
  z-index: 2;
  position: relative;
}
header .contnet::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #4a5869cc;
  z-index: 1;
}
header .contnet .main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}
header .contnet .main img:first-child {
  width: 165px;
}
header .contnet .main img:last-child {
  width: 700px;
}
header .contnet .adds {
  display: flex;
  background: var(--main-color2);
  gap: 25px;
  padding: 0 30px;
  overflow: hidden;
}
header .contnet .adds li {
  color: white;
  min-width: 140px;
}
.App.rtl header .contnet .adds li {
  min-width: 82px;
}

/*! ============= FOOTER ============ */

footer {
  background: #3f4956;
  margin-top: 28px;
  padding: 10px 0;
}

footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 33px 0;
}
footer h4,
footer a {
  color: white;
}
footer .info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .phones {
  margin: 0;
  flex-direction: row;
}
footer .middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: -80px;
}
footer .middle > img {
  width: 150px;
}
footer .middle .social img {
  width: 44px;
}
footer .links a {
  font-size: 18px;
}

@media(max-width:1600px) {
  .home .landing .swiper-slide {
    height: 580px;
  }
}


@media(max-width:1400px) {

}
@media(max-width:1200px) {

}
@media(max-width:992px) {
  .App:has(header.fixedHed) {
    margin-top: 305px;
  }
  .home .landing .swiper-slide {
    height: 400px;
  }
  header .contnet .adds li:first-child,
  header .contnet .adds li:last-child {
    display: none;
  }
  header .contnet .main img:last-child {
    width: 571px;
  }
  header .contnet .main img:first-child {
    width: 147px;
}
  .priceList {
    height: 244px;
  }
  .what-we-do .back .main-title {
    max-width: 87%;
  }
  .specialization .top span.one {
    height: 37px;
  }
  .build h1 {
    font-size: 37px;
    bottom: 9%;
    right: -2%;
  }
  .implement a {
    align-self: center;
    margin-top: 27px;
  }
  .projects .sideTitle {
    padding: 9px 55px 9px 0;
    width: 57%;
  }
  .projects h1 {
    margin: 18px 0 -4px;
  }
  footer .container {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .implement p.middle {
    text-align: left;
    max-width: 78%;
  }
  .App.rtl .implement p.middle {
    text-align: right;
  }
}
@media(max-width:786px) {
  .App:has(header.fixedHed) {
    margin-top: 196px;
}
  .home .landing {
    width: 100%;
  }
  header .bar {
    height: 42px;
    margin-bottom: 8px;
  }
  header .contnet {
    padding-bottom: 2px;
  }
  header .contnet .adds {
    display: none;
  }
  header .social,
  header .nav .changeLang {
    position: absolute;
    top: -45px;
  }
  header .nav .changeLang  {
    right: 12px;
    top: -44px;
  }
  header .contnet .main img:last-child {
    width: 100%;
  }
  header .contnet .main img:first-child {
    display: none;
  }
  .phones {
    margin-top: 3px;
  }
  .App.rtl header .contnet .adds li:nth-child(2) {
    display: block;
  }
  header .contnet .adds li:nth-child(2),
  header .contnet .adds li:nth-child(3),
  header .contnet .adds li:nth-child(4) {
    display: none;
  }
  .home .text h1 {
    font-size: 30px !important;
  }
  .home .text {
    bottom: 33px;
  }
  .home .text p {
    font-size: 12px;
  }
  .home .landing .swiper-slide {
    height: 275px;
  }

  .home .text::before {
    left: 39%;
    top: 60%;
    box-shadow: -1px 0px 139px 53px #000000;
  }
  .custom-prev img,
  .custom-next img {
    width: 25px !important;
  }
  .swiper-pagination {
    bottom: -2px !important;
  }
  .custom-next {
    right: 5px;
  }
  .priceList {
    height: 140px;
  }
  .priceList .price {
    bottom: 4px;
  }
  .priceList .price img {
    width: 95px;
  }
  .main-title {
    font-size: 25px;
  }
  .what-we-do .back {
    height: 410px;
  }
  .specialization {
    width: 100%;
  }
  .specialization .top {
    height: 248px;
  }
  .specialization .top .title {
    font-size: 28px; 
  }
  .specialization .bottom .title {
    max-width: 90%;
    font-size: 16px;
  }
  .specialization .main, .specialization .side {
    width: 95%;
    border: 2px solid var(--border-color);
    padding: 24px 20px;
    flex-direction: column;
    align-items: center;
    border-radius: 14px;
    margin-top: 55px;
    gap: 77px;
  }
  .specialization .side {
    gap: 7px;
  }
  .App.rtl .build {
    overflow: hidden;
  }
  .App.rtl .build h1 {
    max-width: 60%;
    font-size: 20px;
  }
  .build .engineer {
    left: 3%;
    width: 43%;
    margin-top: 60px;
  }
  .implement .top,
  .implement .bottom {
    width: 100%;
    padding: 0 12px;
  }
  .implement p.middle {
    max-width: 95%;
    padding: 0 8px;
  }
  .projects .sideTitle {
    width: 88%;
  }
  .projects h1 {
    font-size: 38px;
  }
  .scrollBtn.show {
    right: 6%;
    bottom: 3%;
  }
  footer .middle {
    margin-top: 19px;
  }
}
@media(max-width:400px) {

}